.products {
  /* margin-top: 30px; */
}

.products__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-content: space-between;
  flex-wrap: wrap;
}

.products__item {
  background-color: #FFBB0C;
  box-shadow: 6px 6px 15px #C4C4C4;
  border-radius: 8px;
  width: 280px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  margin-bottom: 30px;
}

.products__img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  margin-bottom: 10px;
}

.products__name {
  margin-bottom: 8px;
}

.products__price {
  margin-bottom: 8px;
}

.products__count-box {
  display: flex;

  /* justify-content: center; */
}

.products__label {
  margin-left: 60px;
}

.products__count {
  outline: none;
  width: 50px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
}

.products__order-btn {
  border: none;
  background: none;
  background-color: #E62828;
  border-radius: 8px;
  padding: 10px;
  /* padding: 5px; */
  color: #fff;
  /* width: 120px; */
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.products__order-btn:disabled {
  background: rgba(252, 153, 160);
  cursor: not-allowed;
}

.table__wrapper {
  display: flex;
}

.products_btns {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  margin-bottom: 50px;
}

.products__orders-table {
  border: none;
  background: none;
  background-color: #E62828;
  border-radius: 8px;
  padding: 15px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  outline: none;
  background-color: #808080;
  margin-right: 50px;
}

.close_button {
  position: absolute;
  right: 5%;
  outline: none;
  background: none;
  border: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-size: cover;
  background-image: url("../../../../../Images/close-button.png");
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 7px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.table__wrapper {
  margin: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

.table_number {
  background-color: #ECECEC;
  padding: 8px;
  border-radius: 5px;
}

.carusel-btn {
  outline: none;
  border: 2px solid #808080;
  background: none;
  padding: 20px 30px;
  border-radius: 8px;
  background-position: center center;
  background-size: 25px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.left-btn {
  background-image: url("../../../../../Images/left-btn.png");
  margin-right: 30px;
}

.carusel-btn:hover {
  background-color: #ECECEC;
}

.right-btn {
  background-image: url("../../../../../Images/left-btn.png");
  transform: scaleX(-1);
}

.d-none {
  display: none;
}

.newOrder {
  display: block;
  position: fixed;
  top: 49%;
  left: 40%;
  background-color: #81B214;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  font-size: 22px;
  font-weight: bold;
}